/* .hero-section{
    background-image: url(./src/img/bg-image.png);
    width: max-content;
    height: 970px;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* .menu-bg{
    background-image: url(./src/img/Rectangle.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
} */